.dashboard{

display:flex;

min-height:100vh;

background:#f5f7fb;

color:black;

font-family:Arial;

}



/* SIDEBAR */


.sidebar{

width:270px;

height:100vh;

position:fixed;

background:#07142f;

padding:30px 20px;

display:flex;

flex-direction:column;

justify-content:space-between;

}



.logo{

color:white;

font-size:28px;

}



.menu{

display:flex;

flex-direction:column;

gap:15px;

}



.menu button{

padding:15px;

border:none;

background:transparent;

color:white;

text-align:left;

border-radius:12px;

cursor:pointer;

}



.menu button:hover{

background:#2563eb;

}



.logout{

background:#dc2626;

color:white;

border:none;

padding:15px;

border-radius:12px;

}





/* MAIN */


.main{

margin-left:270px;

padding:50px;

width:100%;

}



.main h1{

font-size:38px;

color:#07142f;

margin-bottom:30px;

}



.card{

max-width:750px;

background:white;

padding:40px;

border-radius:25px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

}



.input,
.textarea{

width:100%;

padding:15px;

margin-top:18px;

border-radius:12px;

border:1px solid #ccc;

color:black;

font-size:16px;

}



.input::placeholder,
.textarea::placeholder{

color:black;

}



.textarea{

height:100px;

}



.addBtn{

margin-top:20px;

padding:14px 25px;

background:#0891b2;

color:white;

border:none;

border-radius:12px;

}



.save{

width:100%;

margin-top:30px;

padding:16px;

background:#2563eb;

color:white;

border:none;

border-radius:12px;

font-size:18px;

}



.item{

background:#e0f2fe;

padding:12px;

border-radius:10px;

margin-top:10px;

}